@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-Regular.ttf') format('trueType');
}

@font-face {
    font-family: 'vazir-bold';
    src: url('../fonts/Vazirmatn-ExtraBold.ttf') format('trueType');
}