@import './reset.css';
@import './font.css';
@import './custom.css';

.header{
    padding-top: 50px;
    height:100vh;
    background:url('../image/wd-coffee-slide-3.jpg') no-repeat center;
    background-size: cover;
    

}

.nav{
    height: 80px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.logo{
    width: 70%;
}
.nav__menu{
    display: flex;

}
.nav__item{
    margin-right: 20px;
}
.nav__item:first-child{
    margin-right: 0px;
}
.nav__icon-wrap{
    display: flex;
}