@import "./reset.css";
@import "./font.css";
@import "./custom.css";

.header {
  padding-top: 50px;
  height: 100vh;
  background: url("../image/wd-coffee-slide-3.jpg") no-repeat center;
  background-size: cover;
}

.nav {
  max-width: 80%;
  margin: auto;
  height: 80px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.logo {
  width: 70%;
}
.nav__list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__menu-wrap {
  margin-left: 30px;
}
.nav__menu {
  display: flex;
}
.nav__item {
  margin-right: 20px;
}
.nav__item:first-child {
  margin-right: 0px;
}
.nav__icon-wrap {
  display: flex;
}

.menu-bar {
  width: 50px;
  height: 50px;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in;
}
.menu-line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}
.menu-line::before,
.menu-line::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}
.menu-line::before {
  top: 12px;
}
.menu-line::after {
  bottom: 12px;
}

/* mobail nav */
.nav-mobail {
  height: 80px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.nav-mobail-hamburg {
}
.nav-mobail-logo {
  text-align: center;
}
.nav-mobail-icon {
}
/* mobaile menu style */

.menu-mobail {
  width: 320px;
  background: white;
  position: fixed;
  left: -320px;
  top: 0px;
  z-index: 2;
  height: 100%;
  transition: all 1s ease-in;
}
.nav__menu-mobaile {
}
.search-box {
  width: 100%;
  background-color: red;
  position: relative;
  box-shadow: 0px -1px 12px rgba(0, 0, 0, 0.17);
}
.search-box input {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.search-icon {
  position: absolute;
  top: 17px;
  left: 15px;
  color: #727272;
  font-size: 20px;
}
.nav__item-mobaile {
  /* background-color: red; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  padding: 20px;
}
.bg {
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: none;
}
.active-menu {
  left: 0px;
}
.active {
  display: block;
}

.header-infos {
  max-width: 500px;
  padding: 20px;
  left: 127px;
  margin-top: 110px;
  position: absolute;
}

.header-infos__title {
  font-size: 45px;
  font-family: "vazir-bold";
  color: var(--primary-color);
}
.header-infos__text {
  margin: 20px 0px;
  color: #8d8d8d;
  line-height: 1.4;
}
.btn-wraper {
  display: flex;
  align-items: center;
}

/* main style */

/* head style */

.heading {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.head-title {
  font-family: "vazir-bold";
  font-size: 30px;
  color: var(--primary-color);
}
.head-text {
  color: #777777;
  margin-top: 20px;
}
.coffee-wraper {
  margin-bottom: 100px;
}
.coffee-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coffee-menu {
  display: flex;
}
.coffee-item {
}
.coffee-link {
  width: 80px;
  display: block;
}
.coffee-item:last-child {
  margin-left: 0px;
}


.swiper {
  display: none !important;
}
.swiper-slide {
  width: 120px !important;
}
/* coffee box style */

.coffee-box {
  /* background-color: red; */
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.coffee-link-box {
  position: absolute;
  display: block;
  transition: all 0.5s ease;
}
.coffee-img {
  width: 100%;
}
.op {
  opacity: 0;
}
.coffee-box:hover .op {
  opacity: 1;
  transform: scaleZ(1.2);
}
.coffee-detail {
  background-color: #fff;
  position: absolute;
  display: flex;
  width: 60%;
  justify-content: center;
  padding: 0px 20px;
  bottom: 38px;
  font-size: 20px;
  align-items: center;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.17);
  opacity: 0;
  transition: all 0.5s ease;
}
.coffee-box:hover .coffee-detail{
  opacity: 1;
  transform: translateY(-15px);
}
.coffee-detail-icon {
  display: block;
  padding: 10px;
}

.coffee-box-name{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0px;
}
.coffee-box-title-link{
  font-family:'vazir-bold';
  color: #777;
}
.coffee-price{
  display: block;
  margin-top: 10px;
}