@media screen and (max-width: 1600px) {
  .menu-bar {
    display: none;
  }
  .nav-mobail {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1200px) {
  .coffee-img-wrap-hover{
    display: none;
  }
  .coffee-btn-wrap{
    opacity: 1;
    position: relative;
    bottom: 29px;
   
}

.coffee-box:hover .coffee-btn-wrap{
     transform: none;
}

.coffee-icon-link-search{
  display: none;
}
.coffee-btn-wrap{
  width: 100px;
  border-radius: 20px;
}
.share-text{
  max-width: 90%;
}

}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 992px) {
  .nav__menu-wrap {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
  .nav {
    display: none;
  }
  .nav-mobail {
    display: flex;
  }
  .header {
    padding: 0px;
  }
  .coffee-detail{
    opacity: 1;
    border-radius: 20px;
    width: auto;
  }
  .about-coffee-info-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-coffee-title{
    text-align: center;
  }
 .about-coffee-colum{
  flex-direction: column-reverse;
 }
 .share-text{
  font-size: 25px;
 }
}

@media screen and (max-width: 768px) {
  .header-infos {
    max-width: 500px;
    margin: 120px auto;
    position: relative;
    left: 0px;
    /* background-color: rgba(0, 0, 0, 0.15); */
    backdrop-filter: blur(6px);
    border-radius: 10px;
  }
  .coffee-img{
    width: 60%;
  }
  .coffee-link-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .share-text{
    text-align: center;
  }
  .footer{
    margin-top: 0px;
  }
  .footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .footer-list {
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .nav-mobail-icon {
    display: none;
  }
  .nav-mobail {
    justify-content: space-between;
  }
  .nav-mobail-logo {
    text-align: left;
  }
  .about-coffee-title{
    font-size: 35px;
  }
  
}
@media screen and (max-width: 468px) {
  .header-infos__title {
    font-size: 40px;
  }
  .btn-wraper{
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .header-infos__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
 .coffee-menu{
  display: none;
 }
}
@media screen and (max-width: 345px) {
  .menu-mobail {
    width: 250px;
  }
  .btn-wraper{
    display: block;
  }
  .btn,.btn-2{
    width: 100%;
  }
  .btn-2{
    margin-right: 0;
    margin-top: 15px;
  }
  .coffee-btn-wrap{
    bottom: 12px;
  }
  .coffee-icon-link{
    font-size: 16px;
  }
  .share-text {
    font-size: 20px;
}
.footer-text {
  line-height: 1.4;
}
}
@media screen and (max-width: 320px) {
  .elementor-find-title {
    font-size: 22px;
  }
  .elementor-relation-title {
    font-size: 20px;
  }
}
