
.nav {
    max-width: 80%;
    margin: auto;
    height: 80px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 25px;
    z-index: 20;
  }
  
  .logo {
    width: 70%;
  }
  .nav__list-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__menu-wrap {
    margin-left: 30px;
  }
  .nav__menu {
    display: flex;
  }
  .nav__item {
    margin-right: 20px;
  }
  .nav__item:first-child {
    margin-right: 0px;
  }
  .nav__icon-wrap {
    display: flex;
  }
  .nav-left {
    margin-left: 20px;
  }
  .nav_icon {
    position: relative;
  }
  .nav-num {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    top: -10px;
    right: -15px;
  }
  .nav_icon > i {
    font-size: 20px;
  }
  .menu-bar {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-in;
  }
  .menu-line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
  }
  .menu-line::before,
  .menu-line::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
  }
  .menu-line::before {
    top: 12px;
  }
  .menu-line::after {
    bottom: 12px;
  }
  
  /* mobail nav */
  .nav-mobail {
    height: 80px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .nav-mobail-hamburg {
  }
  .nav-mobail-logo {
    text-align: center;
  }
  .nav-mobail-icon {
  }
  /* mobaile menu style */
  
  .menu-mobail {
    width: 320px;
    background: white;
    position: fixed;
    left: -320px;
    top: 0px;
    z-index: 2;
    height: 100%;
    transition: all 1s ease-in;
  }
  .nav__menu-mobaile {
  }
  .search-box {
    width: 100%;
    background-color: red;
    position: relative;
    box-shadow: 0px -1px 12px rgba(0, 0, 0, 0.17);
  }
  
  .search-box input {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  .search-icon {
    position: absolute;
    top: 17px;
    left: 15px;
    color: #727272;
    font-size: 20px;
  }
  .nav__item-mobaile {
    /* background-color: red; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    padding: 20px;
  }
  .bg {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    display: none;
    z-index: 22;
  }
  .active-menu {
    left: 0px;
  }
  .active {
    display: block;
  }
  

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-number {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background: transparent;
}
.input-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background: transparent;
  transition: all 0.5s ease;
}
.input-btn:hover {
  background: var(--primary-color);
  color: #fff;
}

/* footer */

.footer {margin-top: 100px;
  background-color: var(--primary-color);

  margin-top: -35px;
  padding-top: 60px;
}
.footer-right {
}
.footer-logo {
  /* max-width: 300px; */
}
.white-logo {
  width: 60%;
}
.footer-text {
  line-height: 1.6;
  margin-top: 60px;
  color: #8d8d8d;
}
.footer-phone-wrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #8d8d8d;
}
.footer-phone {
  color: #8ed556;
  text-decoration: underline;
  margin-right: 5px;
}

.footer-list {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-list-title {
  font-size: 18px;
  color: #fff;
}
.footer-item {
  margin-top: 15px;
}
.footer-link {
  color: #8d8d8d;
  transition: all 0.5s ease;
}
.footer-link:hover {
  color: #fff;
}